.o-content-project {
  width: 83%;
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  margin-bottom: 4em;
  /* padding-bottom: 3rem; */
  transition: 0.5s;

  /* background-color: rgb(189, 113, 22); */
}
.o-description-project-detail {
  /* background-color: rgb(49, 36, 20); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 40%;
  font-size: 1em;
  letter-spacing: 0.05em;
  line-height: 1.2;
  text-align: left;
  font-family: "Futura r";
  overflow: hidden;
}
.o-description-project-detail h2 {
  margin: 0;
  margin-top: 2em;
  margin-bottom: 0em;
  letter-spacing: 0.1em;
  font-family: "Futura m";
  animation: slideinLeft 0.5s;
}
.o-description-project-detail p {
  font-family: "YuGothic";
  word-wrap: break-word;
  white-space: normal;
  line-height: 2;
  animation: opacityFrame 1s;
}

.o-container-btn-project {
  /* background: #f1f1f1; */
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  font-size: 1em;
  /* transform: translateY(0%); */
  animation: slideinBottom 0.7s;
}
.o-container-btn-project a {
  display: inline-block;
  color: #fff;
  line-height: 1;
  font-weight: bold;
  padding: 17px 31px;
  border-radius: 50px;
  transition: 0.3s;
  letter-spacing: 0.1em;
  text-decoration: none;
}

@keyframes slideinBottom {
  from {
    margin-bottom: -7rem;
    /* width: 110%; */
  }
  to {
    margin-bottom: 0rem;
    /* width: 100%; */
  }
}

.o-container-image-project {
  /* background-color: rgb(133, 76, 6); */
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  position: relative;
  margin: 0 auto;
  /* padding: 1em 0 4em; */
  /* max-width: 1000px; */
  list-style: none;
  text-align: center;
}

/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0;

  text-align: center;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.28);
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
  border-radius: 12px;
  animation: opacityFrame 2.8s;
}

.grid figure figcaption {
  /* padding: 2em; */
  color: #fff;
  font-family: "Futura r";
  /* text-transform: uppercase; */
  font-size: 1em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 88.5%;
}

/*---------------*/
/***** Sadie *****/
/*---------------*/

figure.effect-sadie figcaption::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(
    top,
    rgba(72, 76, 97, 0) 0%,
    rgba(72, 76, 97, 0.8) 75%
  );
  background: linear-gradient(
    to bottom,
    rgba(72, 76, 97, 0) 0%,
    rgba(72, 76, 97, 0.8) 75%
  );
  content: "";
  opacity: 0;
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
}

figure.effect-sadie h2 {
  position: absolute;
  top: 87%;
  left: 0;
  width: 100%;
  -webkit-transition: -webkit-transform 0.35s, color 0.35s;
  transition: transform 0.35s, color 0.35s;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
/* figure.effect-sadie h2.o-span-low {
  color: #272727;
}
figure.effect-sadie h2.o-span-cheese {
  color: #f1f1f1;
  stroke: 1px;
} */

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie p {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 2em;
  width: 100%;
  opacity: 0;
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
}

figure.effect-sadie:not(:hover) h2 {
  color: #fff;
  -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
  transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
}

figure.effect-sadie:not(:hover) figcaption::before,
figure.effect-sadie:not(:hover) p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@media only screen and (max-width: 800px) {
  .o-description-project-detail {
    width: 100%;
  }
  .o-container-image-project {
    width: 100%;
  }
  .o-content-project {
    width: 90%;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 3.9em;
  }
  .o-container-btn-project {
    margin-top: 0.5rem;
    justify-content: center;
    font-size: 0.95em;
  }
}
