.o-container-buttonShow {
    // background: rgb(171, 210, 30);
  width: 100%;
  height: auto;
  font-size: 16px;
  color: #ffffff;
  margin-left: 5rem;
  overflow: hidden;
  margin-top: 2rem;
}
.o-button-show {
  font-family: "Futura r";
  font-size: 1.1em;
  font-weight: bold;
  padding: 18px 32px;
  line-height: 1;
  background: #238fce;
  border-radius: 50px;
  transition: 0.3s;
  letter-spacing: 0.1em;
  color: #fff;
  display: inline-block;
  border: none;
  cursor: pointer;

  animation: slideinLeft 1.5s;
}
@media only screen and (max-width: 800px) {
  .o-container-buttonShow {
    font-size: 11px;
    margin-left: 1rem;
    margin-top: 1.3rem;
  }
}
