.o-container-description {
    // background: rgb(209, 30, 30);
  position: absolute;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  z-index: 1;
  bottom: 29%;
}
@media only screen and (max-width: 800px) {
  .o-container-description {
    // top: 100%;
    bottom: 0;
    margin-bottom: 2.5rem;
  }
}
