.card1,
.card2,
.card3 {
  position: absolute;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
  //   right: 0;
}

.card1 {
  min-width: 37ch;
  min-height: 37ch;
  width: 40vw;
  height: 40vw;
  max-width: 100ch;
  max-height: 100ch;
  // background-image: url(https://image.flaticon.com/icons/svg/119/119596.svg);
  background-image: url(../../../../assets/images/cv4.png);
  animation: slideinRight 2.5s;
}

.card2 {
  min-width: 5ch;
  min-height: 5ch;
  width: 23ch;
  height: 23ch;
  background-image: url(https://image.flaticon.com/icons/svg/414/414927.svg);
  right: 0;
  opacity: 0.9;
  //   margin-right: 2rem;
  animation: slideinRight 3s;
}
.card3 {
  min-width: 5ch;
  min-height: 5ch;
  width: 23ch;
  height: 23ch;
  background-image: url(https://image.flaticon.com/icons/svg/414/414927.svg);
  right: 15%;
  opacity: 0.9;
  // margin-right: 15%;
  margin-top: 12rem;
  animation: slideinRight 3s;
}

@keyframes slideinRight {
  from {
    margin-right: -50rem;
    // width: 110%;
  }

  to {
    margin-right: 0rem;
    // width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .card2 {
    width: 13ch;
    height: 13ch;
    right: 2%;
    margin-top: 3rem;
  }
  .card3 {
    width: 13ch;
    height: 13ch;
    right: 0%;
  }
}
