.card1,
.card2,
.card3 {
  position: absolute;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
  //   right: 0;
}

.card1 {
  // min-width: 37ch;
  // min-height: 37ch;
  width: 100vw;
  height: 100%;
  // right: 0;
  // bottom: 0;
  // height: 100%;
  // width: 100%;
  // max-width: 110ch;
  // max-height: 110ch;
  // background-image: url(https://image.flaticon.com/icons/svg/119/119596.svg);
  background-image: url(../../../../assets/images/bg-home-desktop.png);
  animation: opacityIn 2.5s;
}

.card2 {
  min-width: 5ch;
  min-height: 5ch;
  width: 23ch;
  height: 23ch;
  background-image: url(https://image.flaticon.com/icons/svg/414/414927.svg);
  right: 0;
  opacity: 0.9;
  //   margin-right: 2rem;
  animation: opacityIn 3s;
}
.card3 {
  min-width: 5ch;
  min-height: 5ch;
  width: 23ch;
  height: 23ch;
  background-image: url(https://image.flaticon.com/icons/svg/414/414927.svg);
  right: 15%;
  opacity: 0.9;
  // margin-right: 15%;
  margin-top: 12rem;
  animation: opacityIn 3s;
}

@keyframes opacityIn {
  from {
    opacity: 0;
    // width: 110%;
  }

  to {
    opacity: 1;
    // width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .card1 {
    background-image: url(../../../../assets/images/bg-home-mobile.png);
    width: 100%;
    height: 100%;
  }
  .card2 {
    width: 13ch;
    height: 13ch;
    right: 2%;
    margin-top: 3rem;
  }
  .card3 {
    width: 13ch;
    height: 13ch;
    right: 0%;
  }
}
