.stars {
  position: absolute;
  //   border-radius: 5px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;

  width: 100%;
  height: 100vh;
  background-image: url(https://awv3node-homepage.surge.sh/build/assets/stars.svg);

  animation: flicker 2.7s infinite;
}
@keyframes flicker {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
